@font-face {
    font-family: 'Star Wars';
    src: url(assets/starjedi/Starjedi.ttf);
}
@font-face {
    font-family: 'Star Wars hallow';
    src: url(assets/SfDistantGalaxyOutline-xoeO.ttf);
}

body {
    background-image: url(assets/starBackGround.jpeg);
}

h1{
    color: goldenrod;
    font-family: Star Wars hallow;
    font-size: 12em;
    text-align: center;
}

h2{
    color: goldenrod;
    font-family: Star Wars;
    font-size: 6em;
    text-align: center;
}

h3{
    text-align: center;
    color: white;
    font-family: Lora;
    font-size: 2.6em; 
    letter-spacing: 10px;
}

h4{
    text-align: center;
    font-family: Star Wars;
    color: white;
    font-size: 1em;
    background-color: goldenrod;
    border-radius: 25px;
    width: 200px;
    cursor: pointer; 
}







h6{
    padding: 0px;
    font-family: Lora;
    color: goldenrod;
    font-size: 1.8em;
    margin-left: 50px;
    margin-top: 0px;
}



h5{
    margin-top: 175px;
    font-family: Lora;
    font-size: 2em; 
    color: skyblue;
}


